body {
    font-family: 'Dancing Scrypt', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.titulo_acerca {    
    font-family: 'Pixelify Sans', cursive;
    text-align: center;
    font-size: 35px;
}

.acerca {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 20px;
}

.perros-section {
    background-color: rgb(0, 204, 255);
    padding: 20px;
    border-radius: 50px;
}

.gatos-section {
    background-color: rgb(145, 150, 145); 
    padding: 20px;
    border-radius: 50px;
}

.perros-section, .gatos-section {
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.container:target {
    transform: translateY(-60px);
}

.mascota {
    text-align: center;
    margin-bottom: 20px;
}

.mascota img {
    max-width: 100%;
    border-radius: 10px;
}

.boton-linea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.mascota-button {
    position: relative;
}

#mis_mascotas {
    margin-top: 20px;
    background: linear-gradient(to right, #cccccc, #dddddd);
    width: 100%;
}

.mascota-description {
    display: none;
    position: fixed;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    max-width: 80%;
}

.mascota-description img {
    max-width: 100%;
    height: auto;
}

.mascota-button:hover .mascota-description {
    display: block;
}

footer {
    text-align: center;
}

.dona {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.recuadro {
    width: 200px;
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
}

.recuadro h3 {
    font-size: 24px;
}

.recuadro .descripcion {
    font-size: 16px;
}

.recuadro .porcentaje {
    font-size: 14px;
    color: green;
}

.recuadro .requisito {
    font-size: 14px;
    color: #D3D3D3;
}


.recuadro1 {
border-color: #A57164;
}

.recuadro2 {
border-color: #C0C0C0;
}

.recuadro3 {
border-color: #ffbf00;
}

.valor_entradas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-pagar {
    background-color: #C0C0C0;
    margin-top: 30px;
}